<% if @category.errors.any? %>
  <div class="alert alert-error">
    <h5>There were some errors</h5>
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </ul>
  </div>
<% end %>

<div class= "well">
  <%= form_for @category do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br/>
    <%= f.submit 'Create Category', class: "btn btn-success" %>
  <% end %>
</div>